.App {
  text-align: left;
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .footer {
    visibility: visible;
    position: fixed;
    bottom: 0;
  }

  .footerContents {
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    align-items: center;
  }
  @media only screen and (max-width: 768px) {
    .footer {
      visibility: hidden;
    }
  }
}

.Page {
  overflow: hidden;
  .PageBox {
    overflow: hidden auto;
    margin: auto;
    scrollbar-color: aqua indigo;
  }

  .PageContents {
    margin: 1em auto;
    height: 80vh;
    width: 70vw;
  }

  .h1 {
    text-align: center;
    width: fit-content;
    margin: 20px auto;
  }

  .titleText {
    padding: 0 10px;
    font-size: 50px;
  }

  .arwes-framed-text {
    padding: 16px;
  }

  .cta-button {
    width: fit-content;
    margin: auto;
  }

  .custom-table {
    thead tr {
      font-size: 130%;
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 10px;

    .PageContents {
      height: 90vh;
      width: 95vw;
      border-radius: 0;
      padding: 0;
      margin: 10px 0 0 0;
    }

    .titleText {
      padding: 0 10px;
      font-size: 35px;
    }
  }
}
