.NavBar {
  height: 10vh;

  #navLinks {
    margin: auto;
  }

  .navToText {
    font-size: 18px;
    text-align: center;
    display: block;
  }

  .navToButton {
    padding: 10px;
  }

  #menu {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .menuTitle {
    font-size: 3vw;
  }
}
